[gcode_macro START_PRINT]
gcode:
  {% set bedtemp = params.BED|int %}
  {% set hotendtemp = params.HOTEND|int %}
  {% set FL_SIZE = params.SIZE|default("0_0_0_0")|string %}

  G90 ; use absolute coordinates
  M83 ; extruder relative mode
  HEATSOAK_BED TEMP={bedtemp} SOAKTIME=5
  SET_GCODE_OFFSET Z=0
  HOME_UNHOMED
  M104 S{hotendtemp} ; set extruder temp
  Attach_probe_lock
  Z_TILT_ADJUST
  ADAPTIVE_BED_MESH SIZE={FL_SIZE}
  M109 S{hotendtemp} ; wait for extruder temp  
  Dock_probe_unlock
  # Clean_Nozzle
  #SET_GCODE_OFFSET Z=-0.4 MOVE=1
  PURGE_LINE
  G92 E0
  

[gcode_macro PURGE_LINE]
gcode: 
  G1 Z2 F240
  G1 X2 Y10 F3000
  G1 Z0.28 F240
  G92 E0
  G1 Y190 E15 F1500 
  G1 X2.3 F5000
  G92 E0
  G1 Y10 E15 F1200 
  G92 E0

[gcode_macro END_PRINT]
gcode:
  M140 S0 ; turn off heatbed
  M104 S0 ; turn off temperature
  M107 ; turn off fan
  M73 R0 P0

[gcode_macro HOME_UNHOMED]
gcode:
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
      G28
      G91 # relative positioning
      G1 Z10 F3600
      G90 ; Set coordinates to absolute
    {% endif %}

[gcode_macro _USER_VARIABLES_OTHER]
# Enable verbose output to let the macro have a chat
variable_verbose: True
gcode:

[gcode_macro HEATSOAK_BED]
description: Heatsoak bed at specified temperature and wait for a specific amount of time
gcode:
    {% set SETPOINT_TEMP = params.TEMP|default(0)|int %}
    {% set TIME = params.SOAKTIME|default(0)|int %}
    {% set _COOLDOWN = params.COOLDOWN|default(0)|int %}


    {% set verbose = printer["gcode_macro _USER_VARIABLES_OTHER"].verbose %}

    {% if verbose %}
        RESPOND MSG="Heating up bed..."
    {% endif %}

    M190 S{SETPOINT_TEMP}
    {% if TIME > 0 %}
        {% for _ in range(1, TIME) %}
            RESPOND MSG="Heatsoak: {_} of {TIME} min"
            G4 P{60000 * 1}
        {% endfor %}
    {% else %}
        RESPOND MSG="No heatsoak needed, continue"
    {% endif %}
    
    {% if verbose %}
        RESPOND MSG="Bed temperature OK."
        {% if _COOLDOWN %}
          RESPOND MSG="Release Temp."
          M190 S0
          M106 S0
        {% endif %}
    {% endif %}